.doctor-report-container {
   max-width: 100%;
   margin: 0 auto;
   height: auto;
   overflow-y: auto;
   background: #f8f9fa;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px #ccc;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 20px;
   max-height: 60vh;
}
